body {
  color: white;
  font-family: 'Arial', sans-serif;
}

.controls-div {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(14, 29, 21);
}

.controls-div input {
  color: rgb(21, 2, 2);
}

.controls-div {
  width: 640px;
}

